@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings;

    var sectionColor = settings?.ServiceBgColor?.Color ?? "#ffffff";

    var current = Umbraco.AssignedContentItem;
    var siteRoot = current?.Root();

    var servicePage = siteRoot?.Children<ServicePage>()?.FirstOrDefault();
    var items = servicePage?.Children<ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}



<section class="our-service" style="background-color:@sectionColor">
    <div class="container">
        <div class="our-service-content">
            <div class="section-title">
                @if (settings!.ShowServiceLabel)
                {
                    <p class="section-name">@content.ServiceLabel</p>

                }
                <h2>@content.ServiceTitle</h2>
            </div>
            <div class="box-grid-6x2">

                @if(items.Any())
                {
                    @foreach (var item in items)
                    {   
                        <a href="@item.Url()" class="service-box">
                            <h5>@item.Name</h5>
                            <div class="service-box-img-container">
                                <img src="@(item.ServiceDetailThumbnail?.Url() ?? "~/images/fallback.svg")" alt="Thumbnail" />
                            </div>
                            <p class="service-small-detail">
                                @item.ServiceDetailExcerpt
                            </p>
                        </a>
                    }
                }
                else
                {
                    <p>No Services Avaliable</p>
                }
                
                
            </div>
        </div>
    </div>
</section>